.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wave-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e2e8f0; /* warna default */
  border-radius: 10px;
  overflow: hidden;
}

.wave-bar::before, .wave-bar::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #38b2ac; /* warna gelombang */
  bottom: -5px; /* posisikan sedikit di bawah */
  animation: wave 1s ease-in-out infinite;
}

.wave-bar::before {
  left: 10%;
  animation-delay: 0s;
}

.wave-bar::after {
  left: 80%;
  animation-delay: 0.5s;
}

.wave-bar.active {
  background-color: #38b2ac; /* warna saat merekam */
}

@keyframes wave {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px);
  }
  100% {
      transform: translateY(0);
  }
}

.wave-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ffffff; /* warna default */
  border-radius: 10px;
  overflow: hidden;
}

.wave-bar::before, .wave-bar::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b7ecc; /* warna gelombang */
  bottom: -5px; /* posisikan sedikit di bawah */
  animation: wave 1s ease-in-out infinite;
}

.wave-bar::before {
  left: 10%;
  animation-delay: 0s;
}

.wave-bar::after {
  left: 80%;
  animation-delay: 0.5s;
}

.wave-bar.active {
  background-color: #3b7ecc; /* warna saat merekam */
}

@keyframes wave {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-15px);
  }
  100% {
      transform: translateY(0);
  }
}
